.build/
.idea/
.code/
.cache/
src/.deps/
src/.dirstamp
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
src/**/*.o


compile_commands.json
libhash.a

